/* ----------------------------
	 Current Available Color  
------------------------------ */
/* ---------------------------------------------------*
													  
		        	Your Custom Color					  
													      	            	            	           
------------------------------------------------------*/
/*----------------------------------------------
  -------- Specimens of - concrete - Grid ------- 
  ----------------------------------------------*/

 .ui.grid > .row > .concrete.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .concrete.row,
.ui.grid > .concrete.column,
.ui.grid > .row > .concrete.column {
  background-color: #b2bcaf !important;
  color: #ffffff;
}
/*----------------------------------------------
  ------ Specimens of - concrete - Segment ------ 
  ----------------------------------------------*/

 .ui.concrete.segment:not(.inverted) {
  border-top: 2px solid #b2bcaf;
}
.ui.inverted.concrete.segment {
  background-color: #b2bcaf !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  -------- Specimens of - concrete - Icon ------- 
  ----------------------------------------------*/

 i.concrete.icon {
  color: #b2bcaf !important;
}
i.inverted.concrete.icon {
  color: #bfc8bd !important;
}
i.bordered.concrete.icon,
i.circular.concrete.icon {
  background-color: #b2bcaf !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  ------- Specimens of - concrete - Table ------- 
  ----------------------------------------------*/

 .ui.concrete.table {
  border-top: 0.2em solid #b2bcaf;
}
/* Inverted */
.ui.inverted.concrete.table {
  background-color: #b2bcaf !important;
  color: #ffffff !important;
}
.ui.concrete.progress .bar {
  background-color: #b2bcaf;
}
.ui.inverted.concrete.progress .bar {
  background-color: #bfc8bd;
}
/*----------------------------------------------
  ------- Specimens of - concrete - Dimmer ------ 
  ----------------------------------------------*/

 .blurring.dimmable > .dimmer {
  background-color: rgba(178, 188, 175, 0.6);
}
.blurring.dimmable > .ui.inverted.concrete.dimmer {
  background-color: rgba(178, 188, 175, 0.6);
}
.ui.concrete.dimmer {
  background-color: rgba(178, 188, 175, 0.6) !important;
  color: #a4b1a0 !important;
}
.ui.concrete.dimmer > .content > * {
  color: #a4b1a0 !important;
}
/*----------------------------------------------
  ------- Specimens of - concrete - Label ------- 
  ----------------------------------------------*/

 .ui.concrete.labels .label,
.ui.concrete.label {
  background-color: #b2bcaf !important;
  border-color: #b2bcaf !important;
  color: #ffffff !important;
}
/* Link */
.ui.concrete.labels .label:hover,
a.ui.concrete.label:hover {
  background-color: #a4b1a0 !important;
  border-color: #a4b1a0 !important;
  color: #ffffff !important;
}
/* Corner */
.ui.concrete.corner.label,
.ui.concrete.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.concrete.ribbon.label {
  border-color: #97a593 !important;
}
/* Basic */
.ui.concrete.basic.label {
  background-color: #ffffff !important;
  color: #b2bcaf !important;
  border-color: #b2bcaf !important;
}
.ui.concrete.labels a.label:hover,
a.ui.concrete.basic.label:hover {
  background-color: #ffffff !important;
  color: #a4b1a0 !important;
  border-color: #a4b1a0 !important;
}
/*----------------------------------------------
  ------ Specimens of - concrete - Button ------- 
  ----------------------------------------------*/

 .ui.concrete.buttons .button,
.ui.concrete.button {
  background-color: #b2bcaf;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.concrete.button {
  box-shadow: 0px 0em 0px 0px rgba(178, 188, 175, 0.15) inset;
}
.ui.concrete.buttons .button:hover,
.ui.concrete.button:hover {
  background-color: #a4b1a0;
  color: #ffffff;
  text-shadow: none;
}
.ui.concrete.buttons .button:focus,
.ui.concrete.button:focus {
  background-color: #9cab97;
  color: #ffffff;
  text-shadow: none;
}
.ui.concrete.buttons .button:active,
.ui.concrete.button:active {
  background-color: #97a593;
  color: #ffffff;
  text-shadow: none;
}
.ui.concrete.buttons .active.button,
.ui.concrete.buttons .active.button:active,
.ui.concrete.button.active,
.ui.concrete.button .active.button:active {
  background-color: #a4b2a0;
  color: #ffffff;
  text-shadow: none;
}
/* Basic */
.ui.basic.concrete.buttons .button,
.ui.basic.concrete.button {
  box-shadow: 0px 0px 0px 1px #b2bcaf inset !important;
  color: #b2bcaf !important;
}
.ui.basic.concrete.buttons .button:hover,
.ui.basic.concrete.button.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #a4b1a0 inset !important;
  color: #a4b1a0 !important;
}
.ui.basic.concrete.buttons .button:focus,
.ui.basic.concrete.button.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #9cab97 inset !important;
  color: #a4b1a0 !important;
}
.ui.basic.concrete.buttons .active.button,
.ui.basic.concrete.button.button.active {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #a4b2a0 inset !important;
  color: #97a593 !important;
}
.ui.basic.concrete.buttons .button:active,
.ui.basic.concrete.button.button:active {
  box-shadow: 0px 0px 0px 1px #97a593 inset !important;
  color: #97a593 !important;
}
.ui.buttons:not(.vertical) > .basic.concrete.button:not(:first-child) {
  margin-left: -1px;
}
/* Inverted */
.ui.inverted.concrete.buttons .button,
.ui.inverted.concrete.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(178, 188, 175, 0.1) inset !important;
  color: rgba(178, 188, 175, 0.1) !important;
}
.ui.inverted.concrete.buttons .button:hover,
.ui.inverted.concrete.button:hover,
.ui.inverted.concrete.buttons .button:focus,
.ui.inverted.concrete.button:focus,
.ui.inverted.concrete.buttons .button.active,
.ui.inverted.concrete.button.active,
.ui.inverted.concrete.buttons .button:active,
.ui.inverted.concrete.button:active {
  box-shadow: none !important;
  color: #ffffff !important;
}
.ui.inverted.concrete.buttons .button:hover,
.ui.inverted.concrete.button:hover {
  background-color: rgba(164, 177, 160, 0.1);
}
.ui.inverted.concrete.buttons .button:focus,
.ui.inverted.concrete.button:focus {
  background-color: rgba(156, 171, 151, 0.1);
}
.ui.inverted.concrete.buttons .active.button,
.ui.inverted.concrete.button.active {
  background-color: rgba(164, 178, 160, 0.1);
}
.ui.inverted.concrete.buttons .button:active,
.ui.inverted.concrete.button:active {
  background-color: rgba(151, 165, 147, 0.1);
}
/* Inverted Basic */
.ui.inverted.concrete.basic.buttons .button,
.ui.inverted.concrete.buttons .basic.button,
.ui.inverted.concrete.basic.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #ffffff !important;
}
.ui.inverted.concrete.basic.buttons .button:hover,
.ui.inverted.concrete.buttons .basic.button:hover,
.ui.inverted.concrete.basic.button:hover {
  box-shadow: 0px 0px 0px 2px rgba(164, 177, 160, 0.1) inset !important;
  color: rgba(178, 188, 175, 0.1) !important;
}
.ui.inverted.concrete.basic.buttons .button:focus,
.ui.inverted.concrete.basic.buttons .button:focus,
.ui.inverted.concrete.basic.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(156, 171, 151, 0.1) inset !important;
  color: rgba(178, 188, 175, 0.1) !important;
}
.ui.inverted.concrete.basic.buttons .active.button,
.ui.inverted.concrete.buttons .basic.active.button,
.ui.inverted.concrete.basic.button.active {
  box-shadow: 0px 0px 0px 2px rgba(164, 178, 160, 0.1) inset !important;
  color: rgba(178, 188, 175, 0.1) !important;
}
.ui.inverted.concrete.basic.buttons .button:active,
.ui.inverted.concrete.buttons .basic.button:active,
.ui.inverted.concrete.basic.button:active {
  box-shadow: 0px 0px 0px 2px rgba(151, 165, 147, 0.1) inset !important;
  color: rgba(178, 188, 175, 0.1) !important;
}
/*----------------------------------------------
  ------- Specimens of - concrete - Card -------- 
  ----------------------------------------------*/

 .ui.concrete.cards > .card,
.ui.cards > .concrete.card,
.ui.concrete.card {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #b2bcaf, 0px 1px 3px 0px #d4d4d5;
}
.ui.concrete.cards > .card:hover,
.ui.cards > .concrete.card:hover,
.ui.concrete.card:hover {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #a4b1a0, 0px 1px 3px 0px #bcbdbd;
}
/*----------------------------------------------
  ------ Specimens of - concrete - Message ------ 
  ----------------------------------------------*/

 .ui.concrete.message {
  background-color: #bfc8bd;
  color: #8a9985;
  box-shadow: 0px 0px 0px 1px #b2bcaf inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.concrete.message .header {
  color: #a5b0a1;
}
/*----------------------------------------------
  ------- Specimens of - concrete - Header ------ 
  ----------------------------------------------*/

 .ui.concrete.header {
  color: #b2bcaf !important;
}
a.ui.concrete.header:hover {
  color: #a4b1a0 !important;
}
.ui.dividing.concrete.header {
  border-bottom: 2px solid #b2bcaf;
}
/* Inverted */
.ui.inverted.concrete.header {
  color: #bfc8bd !important;
}
a.ui.inverted.concrete.header:hover {
  color: #b2bdae !important;
}
/*----------------------------------------------
  ------- Specimens of - concrete - Menu -------- 
  ----------------------------------------------*/

 .ui.menu .concrete.active.item,
.ui.concrete.menu .active.item {
  border-color: #b2bcaf !important;
  color: #b2bcaf !important;
}
.ui.inverted.menu .concrete.active.item,
.ui.inverted.concrete.menu {
  background-color: #b2bcaf !important;
}
.ui.inverted.concrete.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.ui.inverted.concrete.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/*----------------------------------------------
  -------- Specimens of - darkgreen - Grid ------- 
  ----------------------------------------------*/

 .ui.grid > .row > .darkgreen.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .darkgreen.row,
.ui.grid > .darkgreen.column,
.ui.grid > .row > .darkgreen.column {
  background-color: #46411b !important;
  color: #ffffff;
}
/*----------------------------------------------
  ------ Specimens of - darkgreen - Segment ------ 
  ----------------------------------------------*/

 .ui.darkgreen.segment:not(.inverted) {
  border-top: 2px solid #46411b;
}
.ui.inverted.darkgreen.segment {
  background-color: #46411b !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  -------- Specimens of - darkgreen - Icon ------- 
  ----------------------------------------------*/

 i.darkgreen.icon {
  color: #46411b !important;
}
i.inverted.darkgreen.icon {
  color: #585222 !important;
}
i.bordered.darkgreen.icon,
i.circular.darkgreen.icon {
  background-color: #46411b !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  ------- Specimens of - darkgreen - Table ------- 
  ----------------------------------------------*/

 .ui.darkgreen.table {
  border-top: 0.2em solid #46411b;
}
/* Inverted */
.ui.inverted.darkgreen.table {
  background-color: #46411b !important;
  color: #ffffff !important;
}
.ui.darkgreen.progress .bar {
  background-color: #46411b;
}
.ui.inverted.darkgreen.progress .bar {
  background-color: #585222;
}
/*----------------------------------------------
  ------- Specimens of - darkgreen - Dimmer ------ 
  ----------------------------------------------*/

 .blurring.dimmable > .dimmer {
  background-color: rgba(70, 65, 27, 0.6);
}
.blurring.dimmable > .ui.inverted.darkgreen.dimmer {
  background-color: rgba(70, 65, 27, 0.6);
}
.ui.darkgreen.dimmer {
  background-color: rgba(70, 65, 27, 0.6) !important;
  color: #353112 !important;
}
.ui.darkgreen.dimmer > .content > * {
  color: #353112 !important;
}
/*----------------------------------------------
  ------- Specimens of - darkgreen - Label ------- 
  ----------------------------------------------*/

 .ui.darkgreen.labels .label,
.ui.darkgreen.label {
  background-color: #46411b !important;
  border-color: #46411b !important;
  color: #ffffff !important;
}
/* Link */
.ui.darkgreen.labels .label:hover,
a.ui.darkgreen.label:hover {
  background-color: #353112 !important;
  border-color: #353112 !important;
  color: #ffffff !important;
}
/* Corner */
.ui.darkgreen.corner.label,
.ui.darkgreen.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.darkgreen.ribbon.label {
  border-color: #211f0d !important;
}
/* Basic */
.ui.darkgreen.basic.label {
  background-color: #ffffff !important;
  color: #46411b !important;
  border-color: #46411b !important;
}
.ui.darkgreen.labels a.label:hover,
a.ui.darkgreen.basic.label:hover {
  background-color: #ffffff !important;
  color: #353112 !important;
  border-color: #353112 !important;
}
/*----------------------------------------------
  ------ Specimens of - darkgreen - Button ------- 
  ----------------------------------------------*/

 .ui.darkgreen.buttons .button,
.ui.darkgreen.button {
  background-color: #46411b;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.darkgreen.button {
  box-shadow: 0px 0em 0px 0px rgba(70, 65, 27, 0.15) inset;
}
.ui.darkgreen.buttons .button:hover,
.ui.darkgreen.button:hover {
  background-color: #353112;
  color: #ffffff;
  text-shadow: none;
}
.ui.darkgreen.buttons .button:focus,
.ui.darkgreen.button:focus {
  background-color: #2b280d;
  color: #ffffff;
  text-shadow: none;
}
.ui.darkgreen.buttons .button:active,
.ui.darkgreen.button:active {
  background-color: #211f0d;
  color: #ffffff;
  text-shadow: none;
}
.ui.darkgreen.buttons .active.button,
.ui.darkgreen.buttons .active.button:active,
.ui.darkgreen.button.active,
.ui.darkgreen.button .active.button:active {
  background-color: #363212;
  color: #ffffff;
  text-shadow: none;
}
/* Basic */
.ui.basic.darkgreen.buttons .button,
.ui.basic.darkgreen.button {
  box-shadow: 0px 0px 0px 1px #46411b inset !important;
  color: #46411b !important;
}
.ui.basic.darkgreen.buttons .button:hover,
.ui.basic.darkgreen.button.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #353112 inset !important;
  color: #353112 !important;
}
.ui.basic.darkgreen.buttons .button:focus,
.ui.basic.darkgreen.button.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #2b280d inset !important;
  color: #353112 !important;
}
.ui.basic.darkgreen.buttons .active.button,
.ui.basic.darkgreen.button.button.active {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #363212 inset !important;
  color: #211f0d !important;
}
.ui.basic.darkgreen.buttons .button:active,
.ui.basic.darkgreen.button.button:active {
  box-shadow: 0px 0px 0px 1px #211f0d inset !important;
  color: #211f0d !important;
}
.ui.buttons:not(.vertical) > .basic.darkgreen.button:not(:first-child) {
  margin-left: -1px;
}
/* Inverted */
.ui.inverted.darkgreen.buttons .button,
.ui.inverted.darkgreen.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(70, 65, 27, 0.1) inset !important;
  color: rgba(70, 65, 27, 0.1) !important;
}
.ui.inverted.darkgreen.buttons .button:hover,
.ui.inverted.darkgreen.button:hover,
.ui.inverted.darkgreen.buttons .button:focus,
.ui.inverted.darkgreen.button:focus,
.ui.inverted.darkgreen.buttons .button.active,
.ui.inverted.darkgreen.button.active,
.ui.inverted.darkgreen.buttons .button:active,
.ui.inverted.darkgreen.button:active {
  box-shadow: none !important;
  color: #ffffff !important;
}
.ui.inverted.darkgreen.buttons .button:hover,
.ui.inverted.darkgreen.button:hover {
  background-color: rgba(53, 49, 18, 0.1);
}
.ui.inverted.darkgreen.buttons .button:focus,
.ui.inverted.darkgreen.button:focus {
  background-color: rgba(43, 40, 13, 0.1);
}
.ui.inverted.darkgreen.buttons .active.button,
.ui.inverted.darkgreen.button.active {
  background-color: rgba(54, 50, 18, 0.1);
}
.ui.inverted.darkgreen.buttons .button:active,
.ui.inverted.darkgreen.button:active {
  background-color: rgba(33, 31, 13, 0.1);
}
/* Inverted Basic */
.ui.inverted.darkgreen.basic.buttons .button,
.ui.inverted.darkgreen.buttons .basic.button,
.ui.inverted.darkgreen.basic.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #ffffff !important;
}
.ui.inverted.darkgreen.basic.buttons .button:hover,
.ui.inverted.darkgreen.buttons .basic.button:hover,
.ui.inverted.darkgreen.basic.button:hover {
  box-shadow: 0px 0px 0px 2px rgba(53, 49, 18, 0.1) inset !important;
  color: rgba(70, 65, 27, 0.1) !important;
}
.ui.inverted.darkgreen.basic.buttons .button:focus,
.ui.inverted.darkgreen.basic.buttons .button:focus,
.ui.inverted.darkgreen.basic.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(43, 40, 13, 0.1) inset !important;
  color: rgba(70, 65, 27, 0.1) !important;
}
.ui.inverted.darkgreen.basic.buttons .active.button,
.ui.inverted.darkgreen.buttons .basic.active.button,
.ui.inverted.darkgreen.basic.button.active {
  box-shadow: 0px 0px 0px 2px rgba(54, 50, 18, 0.1) inset !important;
  color: rgba(70, 65, 27, 0.1) !important;
}
.ui.inverted.darkgreen.basic.buttons .button:active,
.ui.inverted.darkgreen.buttons .basic.button:active,
.ui.inverted.darkgreen.basic.button:active {
  box-shadow: 0px 0px 0px 2px rgba(33, 31, 13, 0.1) inset !important;
  color: rgba(70, 65, 27, 0.1) !important;
}
/*----------------------------------------------
  ------- Specimens of - darkgreen - Card -------- 
  ----------------------------------------------*/

 .ui.darkgreen.cards > .card,
.ui.cards > .darkgreen.card,
.ui.darkgreen.card {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #46411b, 0px 1px 3px 0px #d4d4d5;
}
.ui.darkgreen.cards > .card:hover,
.ui.cards > .darkgreen.card:hover,
.ui.darkgreen.card:hover {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #353112, 0px 1px 3px 0px #bcbdbd;
}
/*----------------------------------------------
  ------ Specimens of - darkgreen - Message ------ 
  ----------------------------------------------*/

 .ui.darkgreen.message {
  background-color: #585222;
  color: #0f0e06;
  box-shadow: 0px 0px 0px 1px #46411b inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.darkgreen.message .header {
  color: #343014;
}
/*----------------------------------------------
  ------- Specimens of - darkgreen - Header ------ 
  ----------------------------------------------*/

 .ui.darkgreen.header {
  color: #46411b !important;
}
a.ui.darkgreen.header:hover {
  color: #353112 !important;
}
.ui.dividing.darkgreen.header {
  border-bottom: 2px solid #46411b;
}
/* Inverted */
.ui.inverted.darkgreen.header {
  color: #585222 !important;
}
a.ui.inverted.darkgreen.header:hover {
  color: #484319 !important;
}
/*----------------------------------------------
  ------- Specimens of - darkgreen - Menu -------- 
  ----------------------------------------------*/

 .ui.menu .darkgreen.active.item,
.ui.darkgreen.menu .active.item {
  border-color: #46411b !important;
  color: #46411b !important;
}
.ui.inverted.menu .darkgreen.active.item,
.ui.inverted.darkgreen.menu {
  background-color: #46411b !important;
}
.ui.inverted.darkgreen.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.ui.inverted.darkgreen.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/*----------------------------------------------
  -------- Specimens of - creamy - Grid ------- 
  ----------------------------------------------*/

 .ui.grid > .row > .creamy.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .creamy.row,
.ui.grid > .creamy.column,
.ui.grid > .row > .creamy.column {
  background-color: #f2f4ef !important;
  color: #ffffff;
}
/*----------------------------------------------
  ------ Specimens of - creamy - Segment ------ 
  ----------------------------------------------*/

 .ui.creamy.segment:not(.inverted) {
  border-top: 2px solid #f2f4ef;
}
.ui.inverted.creamy.segment {
  background-color: #f2f4ef !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  -------- Specimens of - creamy - Icon ------- 
  ----------------------------------------------*/

 i.creamy.icon {
  color: #f2f4ef !important;
}
i.inverted.creamy.icon {
  color: #fefefe !important;
}
i.bordered.creamy.icon,
i.circular.creamy.icon {
  background-color: #f2f4ef !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  ------- Specimens of - creamy - Table ------- 
  ----------------------------------------------*/

 .ui.creamy.table {
  border-top: 0.2em solid #f2f4ef;
}
/* Inverted */
.ui.inverted.creamy.table {
  background-color: #f2f4ef !important;
  color: #ffffff !important;
}
.ui.creamy.progress .bar {
  background-color: #f2f4ef;
}
.ui.inverted.creamy.progress .bar {
  background-color: #fefefe;
}
/*----------------------------------------------
  ------- Specimens of - creamy - Dimmer ------ 
  ----------------------------------------------*/

 .blurring.dimmable > .dimmer {
  background-color: rgba(242, 244, 239, 0.6);
}
.blurring.dimmable > .ui.inverted.creamy.dimmer {
  background-color: rgba(242, 244, 239, 0.6);
}
.ui.creamy.dimmer {
  background-color: rgba(242, 244, 239, 0.6) !important;
  color: #e6eadf !important;
}
.ui.creamy.dimmer > .content > * {
  color: #e6eadf !important;
}
/*----------------------------------------------
  ------- Specimens of - creamy - Label ------- 
  ----------------------------------------------*/

 .ui.creamy.labels .label,
.ui.creamy.label {
  background-color: #f2f4ef !important;
  border-color: #f2f4ef !important;
  color: #ffffff !important;
}
/* Link */
.ui.creamy.labels .label:hover,
a.ui.creamy.label:hover {
  background-color: #e6eadf !important;
  border-color: #e6eadf !important;
  color: #ffffff !important;
}
/* Corner */
.ui.creamy.corner.label,
.ui.creamy.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.creamy.ribbon.label {
  border-color: #d9dfd1 !important;
}
/* Basic */
.ui.creamy.basic.label {
  background-color: #ffffff !important;
  color: #f2f4ef !important;
  border-color: #f2f4ef !important;
}
.ui.creamy.labels a.label:hover,
a.ui.creamy.basic.label:hover {
  background-color: #ffffff !important;
  color: #e6eadf !important;
  border-color: #e6eadf !important;
}
/*----------------------------------------------
  ------ Specimens of - creamy - Button ------- 
  ----------------------------------------------*/

 .ui.creamy.buttons .button,
.ui.creamy.button {
  background-color: #f2f4ef;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.creamy.button {
  box-shadow: 0px 0em 0px 0px rgba(242, 244, 239, 0.15) inset;
}
.ui.creamy.buttons .button:hover,
.ui.creamy.button:hover {
  background-color: #e6eadf;
  color: #ffffff;
  text-shadow: none;
}
.ui.creamy.buttons .button:focus,
.ui.creamy.button:focus {
  background-color: #dfe5d6;
  color: #ffffff;
  text-shadow: none;
}
.ui.creamy.buttons .button:active,
.ui.creamy.button:active {
  background-color: #d9dfd1;
  color: #ffffff;
  text-shadow: none;
}
.ui.creamy.buttons .active.button,
.ui.creamy.buttons .active.button:active,
.ui.creamy.button.active,
.ui.creamy.button .active.button:active {
  background-color: #e6eadf;
  color: #ffffff;
  text-shadow: none;
}
/* Basic */
.ui.basic.creamy.buttons .button,
.ui.basic.creamy.button {
  box-shadow: 0px 0px 0px 1px #f2f4ef inset !important;
  color: #f2f4ef !important;
}
.ui.basic.creamy.buttons .button:hover,
.ui.basic.creamy.button.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #e6eadf inset !important;
  color: #e6eadf !important;
}
.ui.basic.creamy.buttons .button:focus,
.ui.basic.creamy.button.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #dfe5d6 inset !important;
  color: #e6eadf !important;
}
.ui.basic.creamy.buttons .active.button,
.ui.basic.creamy.button.button.active {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #e6eadf inset !important;
  color: #d9dfd1 !important;
}
.ui.basic.creamy.buttons .button:active,
.ui.basic.creamy.button.button:active {
  box-shadow: 0px 0px 0px 1px #d9dfd1 inset !important;
  color: #d9dfd1 !important;
}
.ui.buttons:not(.vertical) > .basic.creamy.button:not(:first-child) {
  margin-left: -1px;
}
/* Inverted */
.ui.inverted.creamy.buttons .button,
.ui.inverted.creamy.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(242, 244, 239, 0.1) inset !important;
  color: rgba(242, 244, 239, 0.1) !important;
}
.ui.inverted.creamy.buttons .button:hover,
.ui.inverted.creamy.button:hover,
.ui.inverted.creamy.buttons .button:focus,
.ui.inverted.creamy.button:focus,
.ui.inverted.creamy.buttons .button.active,
.ui.inverted.creamy.button.active,
.ui.inverted.creamy.buttons .button:active,
.ui.inverted.creamy.button:active {
  box-shadow: none !important;
  color: #ffffff !important;
}
.ui.inverted.creamy.buttons .button:hover,
.ui.inverted.creamy.button:hover {
  background-color: rgba(230, 234, 223, 0.1);
}
.ui.inverted.creamy.buttons .button:focus,
.ui.inverted.creamy.button:focus {
  background-color: rgba(223, 229, 214, 0.1);
}
.ui.inverted.creamy.buttons .active.button,
.ui.inverted.creamy.button.active {
  background-color: rgba(230, 234, 223, 0.1);
}
.ui.inverted.creamy.buttons .button:active,
.ui.inverted.creamy.button:active {
  background-color: rgba(217, 223, 209, 0.1);
}
/* Inverted Basic */
.ui.inverted.creamy.basic.buttons .button,
.ui.inverted.creamy.buttons .basic.button,
.ui.inverted.creamy.basic.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #ffffff !important;
}
.ui.inverted.creamy.basic.buttons .button:hover,
.ui.inverted.creamy.buttons .basic.button:hover,
.ui.inverted.creamy.basic.button:hover {
  box-shadow: 0px 0px 0px 2px rgba(230, 234, 223, 0.1) inset !important;
  color: rgba(242, 244, 239, 0.1) !important;
}
.ui.inverted.creamy.basic.buttons .button:focus,
.ui.inverted.creamy.basic.buttons .button:focus,
.ui.inverted.creamy.basic.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(223, 229, 214, 0.1) inset !important;
  color: rgba(242, 244, 239, 0.1) !important;
}
.ui.inverted.creamy.basic.buttons .active.button,
.ui.inverted.creamy.buttons .basic.active.button,
.ui.inverted.creamy.basic.button.active {
  box-shadow: 0px 0px 0px 2px rgba(230, 234, 223, 0.1) inset !important;
  color: rgba(242, 244, 239, 0.1) !important;
}
.ui.inverted.creamy.basic.buttons .button:active,
.ui.inverted.creamy.buttons .basic.button:active,
.ui.inverted.creamy.basic.button:active {
  box-shadow: 0px 0px 0px 2px rgba(217, 223, 209, 0.1) inset !important;
  color: rgba(242, 244, 239, 0.1) !important;
}
/*----------------------------------------------
  ------- Specimens of - creamy - Card -------- 
  ----------------------------------------------*/

 .ui.creamy.cards > .card,
.ui.cards > .creamy.card,
.ui.creamy.card {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #f2f4ef, 0px 1px 3px 0px #d4d4d5;
}
.ui.creamy.cards > .card:hover,
.ui.cards > .creamy.card:hover,
.ui.creamy.card:hover {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #e6eadf, 0px 1px 3px 0px #bcbdbd;
}
/*----------------------------------------------
  ------ Specimens of - creamy - Message ------ 
  ----------------------------------------------*/

 .ui.creamy.message {
  background-color: #fefefe;
  color: #cdd5c2;
  box-shadow: 0px 0px 0px 1px #f2f4ef inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.creamy.message .header {
  color: #e6eae0;
}
/*----------------------------------------------
  ------- Specimens of - creamy - Header ------ 
  ----------------------------------------------*/

 .ui.creamy.header {
  color: #f2f4ef !important;
}
a.ui.creamy.header:hover {
  color: #e6eadf !important;
}
.ui.dividing.creamy.header {
  border-bottom: 2px solid #f2f4ef;
}
/* Inverted */
.ui.inverted.creamy.header {
  color: #fefefe !important;
}
a.ui.inverted.creamy.header:hover {
  color: #f2f4ef !important;
}
/*----------------------------------------------
  ------- Specimens of - creamy - Menu -------- 
  ----------------------------------------------*/

 .ui.menu .creamy.active.item,
.ui.creamy.menu .active.item {
  border-color: #f2f4ef !important;
  color: #f2f4ef !important;
}
.ui.inverted.menu .creamy.active.item,
.ui.inverted.creamy.menu {
  background-color: #f2f4ef !important;
}
.ui.inverted.creamy.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.ui.inverted.creamy.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/*----------------------------------------------
  -------- Specimens of - flatgold - Grid ------- 
  ----------------------------------------------*/

 .ui.grid > .row > .flatgold.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .flatgold.row,
.ui.grid > .flatgold.column,
.ui.grid > .row > .flatgold.column {
  background-color: #a38528 !important;
  color: #ffffff;
}
/*----------------------------------------------
  ------ Specimens of - flatgold - Segment ------ 
  ----------------------------------------------*/

 .ui.flatgold.segment:not(.inverted) {
  border-top: 2px solid #a38528;
}
.ui.inverted.flatgold.segment {
  background-color: #a38528 !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  -------- Specimens of - flatgold - Icon ------- 
  ----------------------------------------------*/

 i.flatgold.icon {
  color: #a38528 !important;
}
i.inverted.flatgold.icon {
  color: #b7962d !important;
}
i.bordered.flatgold.icon,
i.circular.flatgold.icon {
  background-color: #a38528 !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  ------- Specimens of - flatgold - Table ------- 
  ----------------------------------------------*/

 .ui.flatgold.table {
  border-top: 0.2em solid #a38528;
}
/* Inverted */
.ui.inverted.flatgold.table {
  background-color: #a38528 !important;
  color: #ffffff !important;
}
.ui.flatgold.progress .bar {
  background-color: #a38528;
}
.ui.inverted.flatgold.progress .bar {
  background-color: #b7962d;
}
/*----------------------------------------------
  ------- Specimens of - flatgold - Dimmer ------ 
  ----------------------------------------------*/

 .blurring.dimmable > .dimmer {
  background-color: rgba(163, 133, 40, 0.6);
}
.blurring.dimmable > .ui.inverted.flatgold.dimmer {
  background-color: rgba(163, 133, 40, 0.6);
}
.ui.flatgold.dimmer {
  background-color: rgba(163, 133, 40, 0.6) !important;
  color: #94771e !important;
}
.ui.flatgold.dimmer > .content > * {
  color: #94771e !important;
}
/*----------------------------------------------
  ------- Specimens of - flatgold - Label ------- 
  ----------------------------------------------*/

 .ui.flatgold.labels .label,
.ui.flatgold.label {
  background-color: #a38528 !important;
  border-color: #a38528 !important;
  color: #ffffff !important;
}
/* Link */
.ui.flatgold.labels .label:hover,
a.ui.flatgold.label:hover {
  background-color: #94771e !important;
  border-color: #94771e !important;
  color: #ffffff !important;
}
/* Corner */
.ui.flatgold.corner.label,
.ui.flatgold.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.flatgold.ribbon.label {
  border-color: #7a641e !important;
}
/* Basic */
.ui.flatgold.basic.label {
  background-color: #ffffff !important;
  color: #a38528 !important;
  border-color: #a38528 !important;
}
.ui.flatgold.labels a.label:hover,
a.ui.flatgold.basic.label:hover {
  background-color: #ffffff !important;
  color: #94771e !important;
  border-color: #94771e !important;
}
/*----------------------------------------------
  ------ Specimens of - flatgold - Button ------- 
  ----------------------------------------------*/

 .ui.flatgold.buttons .button,
.ui.flatgold.button {
  background-color: #a38528;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.flatgold.button {
  box-shadow: 0px 0em 0px 0px rgba(163, 133, 40, 0.15) inset;
}
.ui.flatgold.buttons .button:hover,
.ui.flatgold.button:hover {
  background-color: #94771e;
  color: #ffffff;
  text-shadow: none;
}
.ui.flatgold.buttons .button:focus,
.ui.flatgold.button:focus {
  background-color: #8c6f16;
  color: #ffffff;
  text-shadow: none;
}
.ui.flatgold.buttons .button:active,
.ui.flatgold.button:active {
  background-color: #7a641e;
  color: #ffffff;
  text-shadow: none;
}
.ui.flatgold.buttons .active.button,
.ui.flatgold.buttons .active.button:active,
.ui.flatgold.button.active,
.ui.flatgold.button .active.button:active {
  background-color: #97781b;
  color: #ffffff;
  text-shadow: none;
}
/* Basic */
.ui.basic.flatgold.buttons .button,
.ui.basic.flatgold.button {
  box-shadow: 0px 0px 0px 1px #a38528 inset !important;
  color: #a38528 !important;
}
.ui.basic.flatgold.buttons .button:hover,
.ui.basic.flatgold.button.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #94771e inset !important;
  color: #94771e !important;
}
.ui.basic.flatgold.buttons .button:focus,
.ui.basic.flatgold.button.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #8c6f16 inset !important;
  color: #94771e !important;
}
.ui.basic.flatgold.buttons .active.button,
.ui.basic.flatgold.button.button.active {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #97781b inset !important;
  color: #7a641e !important;
}
.ui.basic.flatgold.buttons .button:active,
.ui.basic.flatgold.button.button:active {
  box-shadow: 0px 0px 0px 1px #7a641e inset !important;
  color: #7a641e !important;
}
.ui.buttons:not(.vertical) > .basic.flatgold.button:not(:first-child) {
  margin-left: -1px;
}
/* Inverted */
.ui.inverted.flatgold.buttons .button,
.ui.inverted.flatgold.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(163, 133, 40, 0.1) inset !important;
  color: rgba(163, 133, 40, 0.1) !important;
}
.ui.inverted.flatgold.buttons .button:hover,
.ui.inverted.flatgold.button:hover,
.ui.inverted.flatgold.buttons .button:focus,
.ui.inverted.flatgold.button:focus,
.ui.inverted.flatgold.buttons .button.active,
.ui.inverted.flatgold.button.active,
.ui.inverted.flatgold.buttons .button:active,
.ui.inverted.flatgold.button:active {
  box-shadow: none !important;
  color: #ffffff !important;
}
.ui.inverted.flatgold.buttons .button:hover,
.ui.inverted.flatgold.button:hover {
  background-color: rgba(148, 119, 30, 0.1);
}
.ui.inverted.flatgold.buttons .button:focus,
.ui.inverted.flatgold.button:focus {
  background-color: rgba(140, 111, 22, 0.1);
}
.ui.inverted.flatgold.buttons .active.button,
.ui.inverted.flatgold.button.active {
  background-color: rgba(151, 120, 27, 0.1);
}
.ui.inverted.flatgold.buttons .button:active,
.ui.inverted.flatgold.button:active {
  background-color: rgba(122, 100, 30, 0.1);
}
/* Inverted Basic */
.ui.inverted.flatgold.basic.buttons .button,
.ui.inverted.flatgold.buttons .basic.button,
.ui.inverted.flatgold.basic.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #ffffff !important;
}
.ui.inverted.flatgold.basic.buttons .button:hover,
.ui.inverted.flatgold.buttons .basic.button:hover,
.ui.inverted.flatgold.basic.button:hover {
  box-shadow: 0px 0px 0px 2px rgba(148, 119, 30, 0.1) inset !important;
  color: rgba(163, 133, 40, 0.1) !important;
}
.ui.inverted.flatgold.basic.buttons .button:focus,
.ui.inverted.flatgold.basic.buttons .button:focus,
.ui.inverted.flatgold.basic.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(140, 111, 22, 0.1) inset !important;
  color: rgba(163, 133, 40, 0.1) !important;
}
.ui.inverted.flatgold.basic.buttons .active.button,
.ui.inverted.flatgold.buttons .basic.active.button,
.ui.inverted.flatgold.basic.button.active {
  box-shadow: 0px 0px 0px 2px rgba(151, 120, 27, 0.1) inset !important;
  color: rgba(163, 133, 40, 0.1) !important;
}
.ui.inverted.flatgold.basic.buttons .button:active,
.ui.inverted.flatgold.buttons .basic.button:active,
.ui.inverted.flatgold.basic.button:active {
  box-shadow: 0px 0px 0px 2px rgba(122, 100, 30, 0.1) inset !important;
  color: rgba(163, 133, 40, 0.1) !important;
}
/*----------------------------------------------
  ------- Specimens of - flatgold - Card -------- 
  ----------------------------------------------*/

 .ui.flatgold.cards > .card,
.ui.cards > .flatgold.card,
.ui.flatgold.card {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #a38528, 0px 1px 3px 0px #d4d4d5;
}
.ui.flatgold.cards > .card:hover,
.ui.cards > .flatgold.card:hover,
.ui.flatgold.card:hover {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #94771e, 0px 1px 3px 0px #bcbdbd;
}
/*----------------------------------------------
  ------ Specimens of - flatgold - Message ------ 
  ----------------------------------------------*/

 .ui.flatgold.message {
  background-color: #b7962d;
  color: #665319;
  box-shadow: 0px 0px 0px 1px #a38528 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.flatgold.message .header {
  color: #8f7423;
}
/*----------------------------------------------
  ------- Specimens of - flatgold - Header ------ 
  ----------------------------------------------*/

 .ui.flatgold.header {
  color: #a38528 !important;
}
a.ui.flatgold.header:hover {
  color: #94771e !important;
}
.ui.dividing.flatgold.header {
  border-bottom: 2px solid #a38528;
}
/* Inverted */
.ui.inverted.flatgold.header {
  color: #b7962d !important;
}
a.ui.inverted.flatgold.header:hover {
  color: #a98822 !important;
}
/*----------------------------------------------
  ------- Specimens of - flatgold - Menu -------- 
  ----------------------------------------------*/

 .ui.menu .flatgold.active.item,
.ui.flatgold.menu .active.item {
  border-color: #a38528 !important;
  color: #a38528 !important;
}
.ui.inverted.menu .flatgold.active.item,
.ui.inverted.flatgold.menu {
  background-color: #a38528 !important;
}
.ui.inverted.flatgold.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.ui.inverted.flatgold.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/*----------------------------------------------
  -------- Specimens of - litecream - Grid ------- 
  ----------------------------------------------*/

 .ui.grid > .row > .litecream.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .litecream.row,
.ui.grid > .litecream.column,
.ui.grid > .row > .litecream.column {
  background-color: #e9ebe6 !important;
  color: #ffffff;
}
/*----------------------------------------------
  ------ Specimens of - litecream - Segment ------ 
  ----------------------------------------------*/

 .ui.litecream.segment:not(.inverted) {
  border-top: 2px solid #e9ebe6;
}
.ui.inverted.litecream.segment {
  background-color: #e9ebe6 !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  -------- Specimens of - litecream - Icon ------- 
  ----------------------------------------------*/

 i.litecream.icon {
  color: #e9ebe6 !important;
}
i.inverted.litecream.icon {
  color: #f5f6f4 !important;
}
i.bordered.litecream.icon,
i.circular.litecream.icon {
  background-color: #e9ebe6 !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  ------- Specimens of - litecream - Table ------- 
  ----------------------------------------------*/

 .ui.litecream.table {
  border-top: 0.2em solid #e9ebe6;
}
/* Inverted */
.ui.inverted.litecream.table {
  background-color: #e9ebe6 !important;
  color: #ffffff !important;
}
.ui.litecream.progress .bar {
  background-color: #e9ebe6;
}
.ui.inverted.litecream.progress .bar {
  background-color: #f5f6f4;
}
/*----------------------------------------------
  ------- Specimens of - litecream - Dimmer ------ 
  ----------------------------------------------*/

 .blurring.dimmable > .dimmer {
  background-color: rgba(233, 235, 230, 0.6);
}
.blurring.dimmable > .ui.inverted.litecream.dimmer {
  background-color: rgba(233, 235, 230, 0.6);
}
.ui.litecream.dimmer {
  background-color: rgba(233, 235, 230, 0.6) !important;
  color: #dde0d7 !important;
}
.ui.litecream.dimmer > .content > * {
  color: #dde0d7 !important;
}
/*----------------------------------------------
  ------- Specimens of - litecream - Label ------- 
  ----------------------------------------------*/

 .ui.litecream.labels .label,
.ui.litecream.label {
  background-color: #e9ebe6 !important;
  border-color: #e9ebe6 !important;
  color: #ffffff !important;
}
/* Link */
.ui.litecream.labels .label:hover,
a.ui.litecream.label:hover {
  background-color: #dde0d7 !important;
  border-color: #dde0d7 !important;
  color: #ffffff !important;
}
/* Corner */
.ui.litecream.corner.label,
.ui.litecream.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.litecream.ribbon.label {
  border-color: #d0d4ca !important;
}
/* Basic */
.ui.litecream.basic.label {
  background-color: #ffffff !important;
  color: #e9ebe6 !important;
  border-color: #e9ebe6 !important;
}
.ui.litecream.labels a.label:hover,
a.ui.litecream.basic.label:hover {
  background-color: #ffffff !important;
  color: #dde0d7 !important;
  border-color: #dde0d7 !important;
}
/*----------------------------------------------
  ------ Specimens of - litecream - Button ------- 
  ----------------------------------------------*/

 .ui.litecream.buttons .button,
.ui.litecream.button {
  background-color: #e9ebe6;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.litecream.button {
  box-shadow: 0px 0em 0px 0px rgba(233, 235, 230, 0.15) inset;
}
.ui.litecream.buttons .button:hover,
.ui.litecream.button:hover {
  background-color: #dde0d7;
  color: #ffffff;
  text-shadow: none;
}
.ui.litecream.buttons .button:focus,
.ui.litecream.button:focus {
  background-color: #d5dace;
  color: #ffffff;
  text-shadow: none;
}
.ui.litecream.buttons .button:active,
.ui.litecream.button:active {
  background-color: #d0d4ca;
  color: #ffffff;
  text-shadow: none;
}
.ui.litecream.buttons .active.button,
.ui.litecream.buttons .active.button:active,
.ui.litecream.button.active,
.ui.litecream.button .active.button:active {
  background-color: #dde0d7;
  color: #ffffff;
  text-shadow: none;
}
/* Basic */
.ui.basic.litecream.buttons .button,
.ui.basic.litecream.button {
  box-shadow: 0px 0px 0px 1px #e9ebe6 inset !important;
  color: #e9ebe6 !important;
}
.ui.basic.litecream.buttons .button:hover,
.ui.basic.litecream.button.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #dde0d7 inset !important;
  color: #dde0d7 !important;
}
.ui.basic.litecream.buttons .button:focus,
.ui.basic.litecream.button.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #d5dace inset !important;
  color: #dde0d7 !important;
}
.ui.basic.litecream.buttons .active.button,
.ui.basic.litecream.button.button.active {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #dde0d7 inset !important;
  color: #d0d4ca !important;
}
.ui.basic.litecream.buttons .button:active,
.ui.basic.litecream.button.button:active {
  box-shadow: 0px 0px 0px 1px #d0d4ca inset !important;
  color: #d0d4ca !important;
}
.ui.buttons:not(.vertical) > .basic.litecream.button:not(:first-child) {
  margin-left: -1px;
}
/* Inverted */
.ui.inverted.litecream.buttons .button,
.ui.inverted.litecream.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(233, 235, 230, 0.1) inset !important;
  color: rgba(233, 235, 230, 0.1) !important;
}
.ui.inverted.litecream.buttons .button:hover,
.ui.inverted.litecream.button:hover,
.ui.inverted.litecream.buttons .button:focus,
.ui.inverted.litecream.button:focus,
.ui.inverted.litecream.buttons .button.active,
.ui.inverted.litecream.button.active,
.ui.inverted.litecream.buttons .button:active,
.ui.inverted.litecream.button:active {
  box-shadow: none !important;
  color: #ffffff !important;
}
.ui.inverted.litecream.buttons .button:hover,
.ui.inverted.litecream.button:hover {
  background-color: rgba(221, 224, 215, 0.1);
}
.ui.inverted.litecream.buttons .button:focus,
.ui.inverted.litecream.button:focus {
  background-color: rgba(213, 218, 206, 0.1);
}
.ui.inverted.litecream.buttons .active.button,
.ui.inverted.litecream.button.active {
  background-color: rgba(221, 224, 215, 0.1);
}
.ui.inverted.litecream.buttons .button:active,
.ui.inverted.litecream.button:active {
  background-color: rgba(208, 212, 202, 0.1);
}
/* Inverted Basic */
.ui.inverted.litecream.basic.buttons .button,
.ui.inverted.litecream.buttons .basic.button,
.ui.inverted.litecream.basic.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #ffffff !important;
}
.ui.inverted.litecream.basic.buttons .button:hover,
.ui.inverted.litecream.buttons .basic.button:hover,
.ui.inverted.litecream.basic.button:hover {
  box-shadow: 0px 0px 0px 2px rgba(221, 224, 215, 0.1) inset !important;
  color: rgba(233, 235, 230, 0.1) !important;
}
.ui.inverted.litecream.basic.buttons .button:focus,
.ui.inverted.litecream.basic.buttons .button:focus,
.ui.inverted.litecream.basic.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(213, 218, 206, 0.1) inset !important;
  color: rgba(233, 235, 230, 0.1) !important;
}
.ui.inverted.litecream.basic.buttons .active.button,
.ui.inverted.litecream.buttons .basic.active.button,
.ui.inverted.litecream.basic.button.active {
  box-shadow: 0px 0px 0px 2px rgba(221, 224, 215, 0.1) inset !important;
  color: rgba(233, 235, 230, 0.1) !important;
}
.ui.inverted.litecream.basic.buttons .button:active,
.ui.inverted.litecream.buttons .basic.button:active,
.ui.inverted.litecream.basic.button:active {
  box-shadow: 0px 0px 0px 2px rgba(208, 212, 202, 0.1) inset !important;
  color: rgba(233, 235, 230, 0.1) !important;
}
/*----------------------------------------------
  ------- Specimens of - litecream - Card -------- 
  ----------------------------------------------*/

 .ui.litecream.cards > .card,
.ui.cards > .litecream.card,
.ui.litecream.card {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #e9ebe6, 0px 1px 3px 0px #d4d4d5;
}
.ui.litecream.cards > .card:hover,
.ui.cards > .litecream.card:hover,
.ui.litecream.card:hover {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #dde0d7, 0px 1px 3px 0px #bcbdbd;
}
/*----------------------------------------------
  ------ Specimens of - litecream - Message ------ 
  ----------------------------------------------*/

 .ui.litecream.message {
  background-color: #f5f6f4;
  color: #c4c9bc;
  box-shadow: 0px 0px 0px 1px #e9ebe6 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.litecream.message .header {
  color: #dde0d8;
}
/*----------------------------------------------
  ------- Specimens of - litecream - Header ------ 
  ----------------------------------------------*/

 .ui.litecream.header {
  color: #e9ebe6 !important;
}
a.ui.litecream.header:hover {
  color: #dde0d7 !important;
}
.ui.dividing.litecream.header {
  border-bottom: 2px solid #e9ebe6;
}
/* Inverted */
.ui.inverted.litecream.header {
  color: #f5f6f4 !important;
}
a.ui.inverted.litecream.header:hover {
  color: #e9ebe6 !important;
}
/*----------------------------------------------
  ------- Specimens of - litecream - Menu -------- 
  ----------------------------------------------*/

 .ui.menu .litecream.active.item,
.ui.litecream.menu .active.item {
  border-color: #e9ebe6 !important;
  color: #e9ebe6 !important;
}
.ui.inverted.menu .litecream.active.item,
.ui.inverted.litecream.menu {
  background-color: #e9ebe6 !important;
}
.ui.inverted.litecream.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.ui.inverted.litecream.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/*----------------------------------------------
  -------- Specimens of - gooseegg - Grid ------- 
  ----------------------------------------------*/

 .ui.grid > .row > .gooseegg.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .gooseegg.row,
.ui.grid > .gooseegg.column,
.ui.grid > .row > .gooseegg.column {
  background-color: #d1e0d7 !important;
  color: #ffffff;
}
/*----------------------------------------------
  ------ Specimens of - gooseegg - Segment ------ 
  ----------------------------------------------*/

 .ui.gooseegg.segment:not(.inverted) {
  border-top: 2px solid #d1e0d7;
}
.ui.inverted.gooseegg.segment {
  background-color: #d1e0d7 !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  -------- Specimens of - gooseegg - Icon ------- 
  ----------------------------------------------*/

 i.gooseegg.icon {
  color: #d1e0d7 !important;
}
i.inverted.gooseegg.icon {
  color: #e0eae4 !important;
}
i.bordered.gooseegg.icon,
i.circular.gooseegg.icon {
  background-color: #d1e0d7 !important;
  color: #ffffff !important;
}
/*----------------------------------------------
  ------- Specimens of - gooseegg - Table ------- 
  ----------------------------------------------*/

 .ui.gooseegg.table {
  border-top: 0.2em solid #d1e0d7;
}
/* Inverted */
.ui.inverted.gooseegg.table {
  background-color: #d1e0d7 !important;
  color: #ffffff !important;
}
.ui.gooseegg.progress .bar {
  background-color: #d1e0d7;
}
.ui.inverted.gooseegg.progress .bar {
  background-color: #e0eae4;
}
/*----------------------------------------------
  ------- Specimens of - gooseegg - Dimmer ------ 
  ----------------------------------------------*/

 .blurring.dimmable > .dimmer {
  background-color: rgba(209, 224, 215, 0.6);
}
.blurring.dimmable > .ui.inverted.gooseegg.dimmer {
  background-color: rgba(209, 224, 215, 0.6);
}
.ui.gooseegg.dimmer {
  background-color: rgba(209, 224, 215, 0.6) !important;
  color: #c1d7ca !important;
}
.ui.gooseegg.dimmer > .content > * {
  color: #c1d7ca !important;
}
/*----------------------------------------------
  ------- Specimens of - gooseegg - Label ------- 
  ----------------------------------------------*/

 .ui.gooseegg.labels .label,
.ui.gooseegg.label {
  background-color: #d1e0d7 !important;
  border-color: #d1e0d7 !important;
  color: #ffffff !important;
}
/* Link */
.ui.gooseegg.labels .label:hover,
a.ui.gooseegg.label:hover {
  background-color: #c1d7ca !important;
  border-color: #c1d7ca !important;
  color: #ffffff !important;
}
/* Corner */
.ui.gooseegg.corner.label,
.ui.gooseegg.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.gooseegg.ribbon.label {
  border-color: #b3cbbd !important;
}
/* Basic */
.ui.gooseegg.basic.label {
  background-color: #ffffff !important;
  color: #d1e0d7 !important;
  border-color: #d1e0d7 !important;
}
.ui.gooseegg.labels a.label:hover,
a.ui.gooseegg.basic.label:hover {
  background-color: #ffffff !important;
  color: #c1d7ca !important;
  border-color: #c1d7ca !important;
}
/*----------------------------------------------
  ------ Specimens of - gooseegg - Button ------- 
  ----------------------------------------------*/

 .ui.gooseegg.buttons .button,
.ui.gooseegg.button {
  background-color: #d1e0d7;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.gooseegg.button {
  box-shadow: 0px 0em 0px 0px rgba(209, 224, 215, 0.15) inset;
}
.ui.gooseegg.buttons .button:hover,
.ui.gooseegg.button:hover {
  background-color: #c1d7ca;
  color: #ffffff;
  text-shadow: none;
}
.ui.gooseegg.buttons .button:focus,
.ui.gooseegg.button:focus {
  background-color: #b6d2c1;
  color: #ffffff;
  text-shadow: none;
}
.ui.gooseegg.buttons .button:active,
.ui.gooseegg.button:active {
  background-color: #b3cbbd;
  color: #ffffff;
  text-shadow: none;
}
.ui.gooseegg.buttons .active.button,
.ui.gooseegg.buttons .active.button:active,
.ui.gooseegg.button.active,
.ui.gooseegg.button .active.button:active {
  background-color: #c0d7c9;
  color: #ffffff;
  text-shadow: none;
}
/* Basic */
.ui.basic.gooseegg.buttons .button,
.ui.basic.gooseegg.button {
  box-shadow: 0px 0px 0px 1px #d1e0d7 inset !important;
  color: #d1e0d7 !important;
}
.ui.basic.gooseegg.buttons .button:hover,
.ui.basic.gooseegg.button.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #c1d7ca inset !important;
  color: #c1d7ca !important;
}
.ui.basic.gooseegg.buttons .button:focus,
.ui.basic.gooseegg.button.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #b6d2c1 inset !important;
  color: #c1d7ca !important;
}
.ui.basic.gooseegg.buttons .active.button,
.ui.basic.gooseegg.button.button.active {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #c0d7c9 inset !important;
  color: #b3cbbd !important;
}
.ui.basic.gooseegg.buttons .button:active,
.ui.basic.gooseegg.button.button:active {
  box-shadow: 0px 0px 0px 1px #b3cbbd inset !important;
  color: #b3cbbd !important;
}
.ui.buttons:not(.vertical) > .basic.gooseegg.button:not(:first-child) {
  margin-left: -1px;
}
/* Inverted */
.ui.inverted.gooseegg.buttons .button,
.ui.inverted.gooseegg.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(209, 224, 215, 0.1) inset !important;
  color: rgba(209, 224, 215, 0.1) !important;
}
.ui.inverted.gooseegg.buttons .button:hover,
.ui.inverted.gooseegg.button:hover,
.ui.inverted.gooseegg.buttons .button:focus,
.ui.inverted.gooseegg.button:focus,
.ui.inverted.gooseegg.buttons .button.active,
.ui.inverted.gooseegg.button.active,
.ui.inverted.gooseegg.buttons .button:active,
.ui.inverted.gooseegg.button:active {
  box-shadow: none !important;
  color: #ffffff !important;
}
.ui.inverted.gooseegg.buttons .button:hover,
.ui.inverted.gooseegg.button:hover {
  background-color: rgba(193, 215, 202, 0.1);
}
.ui.inverted.gooseegg.buttons .button:focus,
.ui.inverted.gooseegg.button:focus {
  background-color: rgba(182, 210, 193, 0.1);
}
.ui.inverted.gooseegg.buttons .active.button,
.ui.inverted.gooseegg.button.active {
  background-color: rgba(192, 215, 201, 0.1);
}
.ui.inverted.gooseegg.buttons .button:active,
.ui.inverted.gooseegg.button:active {
  background-color: rgba(179, 203, 189, 0.1);
}
/* Inverted Basic */
.ui.inverted.gooseegg.basic.buttons .button,
.ui.inverted.gooseegg.buttons .basic.button,
.ui.inverted.gooseegg.basic.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #ffffff !important;
}
.ui.inverted.gooseegg.basic.buttons .button:hover,
.ui.inverted.gooseegg.buttons .basic.button:hover,
.ui.inverted.gooseegg.basic.button:hover {
  box-shadow: 0px 0px 0px 2px rgba(193, 215, 202, 0.1) inset !important;
  color: rgba(209, 224, 215, 0.1) !important;
}
.ui.inverted.gooseegg.basic.buttons .button:focus,
.ui.inverted.gooseegg.basic.buttons .button:focus,
.ui.inverted.gooseegg.basic.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(182, 210, 193, 0.1) inset !important;
  color: rgba(209, 224, 215, 0.1) !important;
}
.ui.inverted.gooseegg.basic.buttons .active.button,
.ui.inverted.gooseegg.buttons .basic.active.button,
.ui.inverted.gooseegg.basic.button.active {
  box-shadow: 0px 0px 0px 2px rgba(192, 215, 201, 0.1) inset !important;
  color: rgba(209, 224, 215, 0.1) !important;
}
.ui.inverted.gooseegg.basic.buttons .button:active,
.ui.inverted.gooseegg.buttons .basic.button:active,
.ui.inverted.gooseegg.basic.button:active {
  box-shadow: 0px 0px 0px 2px rgba(179, 203, 189, 0.1) inset !important;
  color: rgba(209, 224, 215, 0.1) !important;
}
/*----------------------------------------------
  ------- Specimens of - gooseegg - Card -------- 
  ----------------------------------------------*/

 .ui.gooseegg.cards > .card,
.ui.cards > .gooseegg.card,
.ui.gooseegg.card {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #d1e0d7, 0px 1px 3px 0px #d4d4d5;
}
.ui.gooseegg.cards > .card:hover,
.ui.cards > .gooseegg.card:hover,
.ui.gooseegg.card:hover {
  box-shadow: 0px 0px 0px 1px #d4d4d5, 0px 2px 0px 0px #c1d7ca, 0px 1px 3px 0px #bcbdbd;
}
/*----------------------------------------------
  ------ Specimens of - gooseegg - Message ------ 
  ----------------------------------------------*/

 .ui.gooseegg.message {
  background-color: #e0eae4;
  color: #a3c1af;
  box-shadow: 0px 0px 0px 1px #d1e0d7 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.gooseegg.message .header {
  color: #c2d6ca;
}
/*----------------------------------------------
  ------- Specimens of - gooseegg - Header ------ 
  ----------------------------------------------*/

 .ui.gooseegg.header {
  color: #d1e0d7 !important;
}
a.ui.gooseegg.header:hover {
  color: #c1d7ca !important;
}
.ui.dividing.gooseegg.header {
  border-bottom: 2px solid #d1e0d7;
}
/* Inverted */
.ui.inverted.gooseegg.header {
  color: #e0eae4 !important;
}
a.ui.inverted.gooseegg.header:hover {
  color: #d0e1d7 !important;
}
/*----------------------------------------------
  ------- Specimens of - gooseegg - Menu -------- 
  ----------------------------------------------*/

 .ui.menu .gooseegg.active.item,
.ui.gooseegg.menu .active.item {
  border-color: #d1e0d7 !important;
  color: #d1e0d7 !important;
}
.ui.inverted.menu .gooseegg.active.item,
.ui.inverted.gooseegg.menu {
  background-color: #d1e0d7 !important;
}
.ui.inverted.gooseegg.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.ui.inverted.gooseegg.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
